@import "./font";
@import "./colors";
html {
  height: 100vh;
  font-family: 'Inter', sans-serif;
  color: map-get($colors, black);
}

body {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

div {
  box-sizing: border-box;
}
