@mixin clear-base {
  padding: 0;
  margin: 0;
}

.clear-button {
  @include clear-base;
  border: none;
  background-color: unset;

  &:not(:disabled) {
    cursor: pointer;
  }
}

.clear-link {
  @mixin link {
    text-decoration: none;
    color: inherit;
  }
  @include link;
  &:hover { @include link; }
  &:active { @include link; }
  &:visited { @include link; }
}
