$colors: (
  white: #FFFFFF,
  lightgray: #FAFAFA,
  gray: #9E9E9E,
  darkgray: #3C3C43,
  green: #31AE54,
  black: #292929,
  darkBG: #101010,
  purple: #A6328D,
  storyBorder: #AFAFAF,
  starsAndForksLabelBG: #FAFBFC,
  starsAndForksValueBG: #FFFFFF,
  starsAndForksBorder: #1B1F2326,
);

$skeleton-gradient: linear-gradient(90deg, #D9D9D9 0%, #EAEAEA 100%);

:export {
  white: map-get($colors, white);
  lightgray: map-get($colors, lightgray);
  gray: map-get($colors, gray);
  darkgray: map-get($colors, darkgray);
  green: map-get($colors, green);
  black: map-get($colors, black);
  darkBG: map-get($colors, darkBG);
  purple: map-get($colors, purple);
  storyBorder: map-get($colors, storyBorder);
  starsAndForksLabelBG: map-get($colors, starsAndForksLabelBG);
  starsAndForksValueBG: map-get($colors, starsAndForksValueBG);
  starsAndForksBorder: map-get($colors, starsAndForksBorder);
  skeleton-gradient: $skeleton-gradient;
}
