$colors: (
  white: #FFFFFF,
  lightgray: #FAFAFA,
  gray: #9E9E9E,
  darkgray: #3C3C43,
  green: #31AE54,
  black: #292929,
  purple: #A6328D,
);

$skeleton-gradient: linear-gradient(90deg, #D9D9D9 0%, #EAEAEA 100%);
